github "imaginary-cloud/CameraManager" >= 3.0
github "Alamofire/Alamofire" ~> 4.0
github "Alamofire/AlamofireImage" ~> 3.1
github "SwiftyJSON/SwiftyJSON"
github "marketplacer/keychain-swift" ~> 6.0
github "hyperoslo/ImagePicker"
github "jonkykong/SideMenu" "master"
github "ninjaprox/NVActivityIndicatorView" "carthage"



